<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content [formGroup]="formGroup">
    <div class="button-toggle-group-wrapper">
      <mat-button-toggle-group formControlName="opponentType">
        <mat-button-toggle *ngFor="let opponentType of opponentTypes" [value]="opponentType">
          {{opponentType}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="mark-select-form-field" appearance="fill">
      <mat-select class="mark-select" formControlName="mark">
        <mat-option *ngFor="let mark of marks" [value]="mark">
          {{mark}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
