<form [formGroup]="gameConfigForm" (ngSubmit)="startGame()" class="game-config-form">
  <div class="players-config" formGroupName="players">
    <ttt-player-config
      [formGroup]="player1FormGroup"
      title="Player 1">
    </ttt-player-config>
    <div class="start-button-wrapper">
      <button type="submit" mat-fab color="warn" [disabled]="!gameConfigForm.valid">
        Go!
      </button>
    </div>
    <ttt-player-config
      [formGroup]="player2FormGroup"
      title="Player 2">
    </ttt-player-config>
  </div>
</form>
